@model IEnumerable<DatabaseProvider.account>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create new account</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.emp_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.acc_username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.acc_password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.acc_session)
            </th>
            <th>
                role_name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.emp_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.acc_username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.acc_password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.acc_session)
                </td>
                <td>
                    @{
                        string role_name = "";
                        if (item.role_id == 1)
                            role_name = "Manager";
                        else if (item.role_id == 2)
                            role_name = "Security";
                        else if (item.role_id == 3)
                            role_name = "Cleaner";
                        else if (item.role_id == 4)
                            role_name = "Chief";
                        else if (item.role_id == 5)
                            role_name = "Intern";
                        else if (item.role_id == 6)
                            role_name = "Accountant";

                    }
                    @role_name
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.acc_id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.acc_id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.acc_id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
