@using DatabaseProvider
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Get customer Information by Name";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<customer>

<h1>Get customer's information by Name <a asp-action="Index" class="btn btn-sm btn-primary">Back</a></h1>
<h3>@ViewBag.StatusCode</h3>
<form method="post">
    <div class="form-group">
        <label for="search_string">Name:</label>
        <input class="form-control" name="search_string" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Get Customer</button>
    </div>
</form>

@if (Model != null)
{
    <h2>Customer's information</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>Customer's ID</th>
                <th>Customer's first name</th>
                <th>Customer's last name</th>
                <th>Customer's home address</th>
                <th>Customer's contact number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.customer_id</td>
                <td>@item.customer_first_name</td>
                <td>@item.customer_last_name</td>
                <td>@item.customer_address</td>
                <td>@item.customer_contact_number</td>
            </tr>
            }
            
        </tbody>
    </table>
}