@using Entity
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Information of customer who has checked-in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<checked_cus_info>

<h1>Customer's information <a asp-action="Index" class="btn btn-sm btn-primary">Back</a></h1>
<h3>@ViewBag.StatusCode</h3>
<h3 style="color:red;">@ViewBag.Message</h3>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Customer's ID</th>
                <th>Customer's first name</th>
                <th>Customer's last name</th>
                <th>Customer's contact number</th>
                <th>Room number</th>
                <th>Room type</th>
                <th>Room status</th>
                <th>Customer's check-in date</th>
                <th>Customer's expected check-out date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.customer_id</td>
                    <td>@item.customer_first_name</td>
                    <td>@item.customer_last_name</td>
                    <td>@item.customer_contact_number</td>
                    <td>@item.room_number</td>
                    <td>@item.room_type_name</td>
                    <td>@item.room_status_name</td>
                    <td>@item.check_in_date</td>
                    <td>@item.expected_check_out_date</td>
                </tr>
            }
        </tbody>
    </table>
}
