@model IEnumerable<DatabaseProvider.reservation>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.reservation_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customer_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.expected_check_in_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.day_stay_number)
            </th>
            <th>
                room_type_name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reservation_status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.reservation_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.customer_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.expected_check_in_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.day_stay_number)
                </td>
                <td>
                    @{
                        string room_type_name = "";
                        if (item.expected_room_type_id == 1)
                            room_type_name = "King Room";
                        else if (item.expected_room_type_id == 2)
                            room_type_name = "Queen Room";
                        else if (item.expected_room_type_id == 3)
                            room_type_name = "4-people Family Room";
                        else if (item.expected_room_type_id == 4)
                            room_type_name = "3-people Family Room";
                        else if (item.expected_room_type_id == 5)
                            room_type_name = "Single Room";
                        else if (item.expected_room_type_id == 6)
                            room_type_name = "Couple Room";
                        else if (item.expected_room_type_id == 7)
                            room_type_name = "4-Bunk Room";
                    }
                    @room_type_name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.reservation_status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.reservation_id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.reservation_id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.reservation_id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
