@model IEnumerable<DatabaseProvider.payment>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.payment_id)
            </th>
            <th>
                payment_type_name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reservation_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.payment_amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.payment_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.payment_id)
                </td>
                <td>
                    @{
                        string payment_type_name = "";
                        if (item.payment_type_id == 1)
                            payment_type_name = "By Cash";
                        else if (item.payment_type_id == 2)
                            payment_type_name = "By Credit card";
                        else if (item.payment_type_id == 3)
                            payment_type_name = "By Debit card";

                    }
                    @payment_type_name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.reservation_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.payment_amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.payment_date)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.payment_id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.payment_id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.payment_id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
