@model DatabaseProvider.room

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>room</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.room_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.room_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.room_type_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.room_type_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.room_status_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.room_status_id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.room_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
