@using Entity
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Room's information by Room status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<room_status_info>

<h1>Room's information by Room status <a asp-action="Index" class="btn btn-sm btn-primary">Back</a></h1>
<h3>@ViewBag.StatusCode</h3>
<h3 style="color:red;">@ViewBag.Message</h3>
<form method="post">
    <div class="form-field">
        <label for="id">Room status:</label>
        <select name="id" id="id" class="form-control">
            <option value="">Select Room status</option>
            <option value="1">Vacant rooms</option>
            <option value="4">In use rooms</option>
            <option value="5">Checked out rooms</option>
            <option value="2">Pay later rooms</option>
            <option value="3">Pay in advance rooms</option>
            <option value="6">Available rooms (Vacant + Checked out)</option>
        </select>
    </div> <br />
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Get Room</button>
    </div> <br />
</form>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Room number</th>
                <th>Room type name</th>
                <th>Room status name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.room_number</td>
                    <td>@item.room_type_name</td>
                    <td>@item.room_status_name</td>
                </tr>
            }
        </tbody>
    </table>
}
