@model IEnumerable<DatabaseProvider.customer>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create new customer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.customer_first_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customer_last_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customer_address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customer_contact_number)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.customer_first_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.customer_last_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.customer_address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.customer_contact_number)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.customer_id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.customer_id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.customer_id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
